body * {
  box-sizing: border-box;
}
body p {
  margin: 0px;
}
body #idStatus {
  width: 300px;
  height: 50px;
  font-size: 12px;
}
body .-carousel {
  height: 100px;
}
body .-carousel .-carousel-item {
  width: 100px;
  height: 100px;
}
body .-carousel .-carousel-item .item {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
body .-carousel .-carousel-item .item .text {
  font-size: 34px;
  text-align: center;
}
body .-carousel .-carousel-anchor {
  width: 100px;
  height: 100px;
  border: 6px solid #444444;
  opacity: .2;
  transition: opacity 1s;
}
body .-carousel .-carousel-anchor.-afd-leaf {
  opacity: 1;
}
body .-carousel .-carousel-anchor .item {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
body .-carousel .-carousel-anchor .item .text {
  font-size: 34px;
  text-align: center;
}
