body * {
  box-sizing: border-box;
}
body .-f {
  border: 1px dashed blue;
}
body .-fd {
  border: 1px dashed red;
}
body .-afd-leaf {
  border: 2px solid red;
}
body p {
  margin: 0px;
}
body .-carousel {
  height: 100px;
}
body .-carousel .-carousel-item {
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  background-color: #c793fe;
}
body .-carousel .-carousel-anchor {
  width: 100px;
  height: 100px;
}
