body {

    * {
        box-sizing: border-box;
    }

    .-f {
        border: 1px dashed blue;
    }

    .-fd {
        border: 1px dashed red;
    }

    .-afd-leaf {
        border: 2px solid red;
    }

    p {
        margin: 0px;
    }

    .-carousel {
        height: 100px;
        .-carousel-item {
            top: 10px;
            left: 10px;
            width: 80px;
            height: 80px;
            background-color: #c793fe;
        }
        .-carousel-anchor {
            width: 100px;
            height: 100px;
        }

    }
}
