body * {
  box-sizing: border-box;
}
body .-f {
  border: 1px dashed blue;
}
body .-fd {
  border: 1px dashed red;
}
body .-afd-leaf {
  border: 2px solid red;
}
body p {
  margin: 0px;
}
body .-carousel {
  height: 100px;
}
